.background_container {
    width: 100%;
    margin: 0 auto;
    background: lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.rainbuster_logo {
    width: 20%;
    text-align: center;
}

.rainbuster_logo img {
    width: 50%;
    height: 100%;
}

.shopping_cart {
    float: right;
    color: #484848;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .shopping_cart {
        text-align: right;
    }
}

.shopping_cart:hover {
    color: rgba(0, 0, 0, .7);
}

tr.item {
    border-bottom: 1px solid #e5e5e5;;
}

/**
header image
 */

.background_img {
    background-image: url(https://via.placeholder.com/1500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.product_img {
    width: 100%;
}

.header_text_container {
    height: 100%;
}

.text_center {
    text-align: center;
}

.header_text_middle {
    padding-top: 12pc;
}

.no_padding {
    padding: 0;
}

.no_padding_l_r {
    padding-left: 0;
    padding-right: 0;
}

.modal_background {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    margin-top: 10pc;
}

/**
sponsor page
 */

.sponsor_img {
    width: 55%;
    height: auto;
}


/**
product page
 */

.product_margin {
    margin: 4pc auto;
}

.detail_product_img {
    width: 100%;
    height: auto;
}

/**
shopping cart page
 */

.table .middle {
    vertical-align: middle;
}

.td_img {
    width: 20%;
}

.cart_img {
    height: auto;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .desktop_cart {
        display: none;
    }

    .input_number_quantity {
        font-size: 15px !important;
    }

    .page-link {
        font-size: 10px;
    }

    .item_title {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .mobile_cart {
        display: none;
    }

    .page-link {
        font-size: 15px;
    }

    .item_title {
        font-size: 18px;
    }

}

.cart_lines_border {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.delete_line {
    color: #6c757d;
}

.delete_line:hover {
    color: #494f54 !important
}

.red {
    color: red;
}

.item_title {
    font-weight: bold;
    text-decoration: none;
}

.page-link {
    color: #716f6f;
    text-align: center;
}

.cart_margin {
    margin-top: 2pc;
}

.h_5pc {
    height: 5pc;
}

.item_total {
    color: #484545;
}

.border_underline {
    border-bottom: 1px solid #e5e5e5;
}

.border_underline:last-of-type {
    border-bottom: none;
}

.padding_self_cart {
    padding: 0 0 10px 0;
}

.title_pad {
    padding-bottom: 15px;
}

/**chekcout page*/
.multi_checkout_tekst {
    font-size: 12px;
}

.border_topline_checkout {
    border-top: 1px solid #e5e5e5;
}

/*FOOTER START///////////////////*/

.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.footer .title {
    text-align: left;
    color: #fff;
    font-size: 25px;
}


/*.footer .social-icon {*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/

/*.footer .social-icon a {*/
/*    display: inline-block;*/
/*    color: #fff;*/
/*    font-size: 25px;*/
/*    padding: 5px;*/
/*}*/

.footer .acount-icon a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}

/*.footer .acount-icon .fa {*/
/*    margin-right: 25px;*/
/*}*/


/*.footer .category a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    display: inline-block;*/
/*    padding: 5px 20px;*/
/*    margin: 1px;*/
/*    border-radius: 4px;*/
/*    margin-top: 6px;*/
/*    background-color: black;*/
/*    border: solid 1px #fff;*/
/*}*/

.footer .payment {
    margin: 0px;
    padding: 0px;
    list-style-type: none
}

/*.footer .payment li {*/
/*    list-style-type: none*/
/*}*/

.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 35px;
    padding: 10px 10px;
}

/**
home
 */
.product_background {
    background-color: #fbfbfb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -4px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    transition: transform 0.5s; /* Animation */
    min-height: 16pc;
}

.product_background span {
    color: black;
}

.product_background:hover {
    /*padding: 20px;*/
    transform: scale(1.05);
    z-index: 1;
}

.product_background_sponsor {
    transition: transform 0.5s;
    min-height: 16pc;
}

.product_background_sponsor span {
    color: black;
}

.product_background_sponsor:hover {
    /*padding: 20px;*/
    transform: scale(1.05);
    z-index: 1;
}

.product_title {
    font-size: 25px;
}

.product_img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.product_img:hover {
    transform: scale(1.05);
}

.fit {
    width: fit-content;
}
