* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.f_right {
    float: right;
}

.f_left {
    float: left;
}

.back {
    z-index: -1;
}

.margin_top_bottom {
    margin-top: 5pc;
    margin-bottom: 5pc;
}

.bold {
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
